<a href="https://colab.research.google.com/github/opoluliakh/data-analytics-learning/blob/main/Poluliakh_hw_3_3_%D0%A0%D0%BE%D0%B7%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D1%96_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%B8_%D0%BE%D0%B1%D1%80%D0%BE%D0%B1%D0%BA%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D1%83_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/supermarket_sales.csv')
type(df)

Mounted at /content/drive

pandas.core.frame.DataFrame

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [2]:
df_sorted = df.sort_values(by='Unit price', ascending=False)
df_sorted.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [3]:
df['Total Price'] = df['Unit price'] * df['Quantity']

ea = df[df['Product line'] == 'Electronic accessories']

ea_max = ea.loc[ea['Total Price'].idxmax()]
ea_max

Invoice ID                            817-69-8206
Branch                                          B
City                                     Mandalay
Customer type                              Normal
Gender                                     Female
Product line               Electronic accessories
Unit price                                  99.73
Quantity                                        9
Tax 5%                                    44.8785
Total                                    942.4485
Date                                     3/2/2019
Time                                        19:42
Payment                               Credit card
cogs                                       897.57
gross margin percentage                  4.761905
gross income                              44.8785
Rating                                        6.5
Total Price                                897.57
Name: 209, dtype: object

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 (включно) до 8 (не включно) - то він середній (`Medium`)
- інакше - низький (`Low`).

In [4]:
def categorize_rating(r):
    if r >= 8:
        return 'High'
    elif r >= 6:
        return 'Medium'
    else:
        return 'Low'

df['Rating Category'] = df['Rating'].apply(categorize_rating)

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [5]:
df['Rating Category'].value_counts(normalize=True) * 100

Rating Category
Medium    35.6
High      32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [6]:
time = '11:28'

In [7]:
def get_hour(time_str):
    return int(time_str.split(':')[0])

print(get_hour(time))

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [8]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [10]:
df['Hour'].value_counts().sort_index()

# Найбільше покупок здійснюється о 19:00, 13:00 та 15:00 годині. Це може бути пов’язано з тим, що о 19:00 більшість людей завершують робочий день і мають час на покупки. Пікові години 13:00–15:00 можуть бути пов’язані з обідньою перервою.

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [11]:
df.groupby('City')['Total'].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [13]:
df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

# У Naypyitaw найвищий середній чек (337) і максимальна сума покупки (1042), що свідчить про великі або дорожчі покупки; Yangon має найбільше покупок (340), але найнижчий середній чек (312), що може вказувати на часті малі транзакції; Mandalay займає проміжне положення, проте має найвищу мінімальну суму покупки (18.6), що може свідчити про менше дешевих покупок. Рекомендується просувати преміум-товари в Yangon, дослідити успішні категорії в Naypyitaw і ввести привабливі пропозиції в Mandalay для розширення цінового діапазону.

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [14]:
df.to_csv('supermarket_sales_enriched.csv', index=False)